input {
    /* width: 100%; */
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 30px;
    text-align: center;
    outline: none;
}