ul.tasks-list{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.tasks-list li{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tasks-list li:not(:last-child){
    border-bottom: 1px solid #cccccc;
}

.task-done{
    text-decoration: line-through;
    font-weight: bold;
}
