body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

html, body {
    height: 100vh;
    background-color: #ccc;
  }
  

  .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    width: 300px;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0, 0.357);
}

.add-box{
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 130px;
  justify-content: space-around;
}

.edit{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-div{
  display: flex;
  align-items: center;
}

.task-done{
    text-decoration: line-through;
    font-weight: bold;
}
